* {
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100%;
    overflow: auto;
}

div.qr-show-cam {
    background-color: #000000;
    border-radius: 4px;
    justify-content: center;
    height: auto;
    padding: 1em;
    display: flex;
    opacity: 1;
    transition: 1s .3s;

    canvas {
        border-radius: 4px;
        background-color: #D4D4D4;
        transition: .5s .5s;
        flex: none;
        width: 100%;
    }

    &.hide {
        opacity: 0;
        padding: 0em;

        canvas {
            width: 0%;
        }
    }
}