<link rel='stylesheet' type='text/css' media='screen' href='./home.template.scss'>
<section class="home">
    <div class="menu">

        <div class="menu-item" data-permission="user">
            <div>
                Documentação
            </div>
            <span class="icon material-symbols-outlined">description</span>
            <div class="actions">
                <button data-permission="user">
                    enviar para validação
                </button>
                <button data-permission="user">
                    verifiar status
                </button>
            </div>
        </div>

        <div class="menu-item" data-permission="user admin">
            <div>
                Usuários
            </div>
            <span class="icon material-symbols-outlined">face</span>
            <div class="actions">
                <button data-permission="user">
                    meus dados pessoas
                </button>
                <button data-permission="user">
                    alterar senha
                </button>
                <button data-permission="admin">
                    cadastrar novo
                </button>
                <button data-permission="admin">
                    pesquisar/editar
                </button>
            </div>
        </div>

        <div class="menu-item" data-permission="user admin">
            <div>
                Cães Guia
            </div>
            <span class="icon material-symbols-outlined">pets</span>
            <div class="actions">
                <button data-permission="user">
                    dados do cão
                </button>
                <button data-permission="admin">
                    cadastrar novo
                </button>
                <button data-permission="admin">
                    pesquisar/editar
                </button>
            </div>
        </div>

        <div class="menu-item" data-permission="admin">
            <div>
                Instituiçoes
            </div>
            <span class="icon material-symbols-outlined">corporate_fare</span>
            <div class="actions">
                <button data-permission="admin">
                    pesquisar/editar
                </button>
            </div>
        </div>

        <div class="menu-item clickable" data-open-section="documento" data-permission="user admin">
            <div>
                Carteira Nacional
            </div>
            <span class="icon material-symbols-outlined">qr_code_2</span>
            <div class="actions">
                <button data-permission="user">
                    emitir/reemitir carteira nacional de cães guia
                </button>
                <button data-permission="admin">
                    pesquisar/visualizar carteiras nacional de cães guia
                </button>
            </div>
        </div>

        <div class="menu-item clickable" data-open-section="validar-documento" data-permission="any only-unlogged">
            <div>
                Validar Carteira Nacional
            </div>
            <span class="icon material-symbols-outlined">qr_code_2</span>
            <div class="actions">
                <button data-permission="any only-unlogged">
                    quero verificar a autenticidade de
                    uma carteina nacional de usuário de
                    cão guia
                </button>
            </div>
        </div>

        <div class="menu-item clickable" data-open-section="novo-cadastro" data-permission="any only-unlogged">
            <div>
                Novo Cadastro
            </div>
            <span class="icon material-symbols-outlined">sound_detection_dog_barking </span>
            <div class="actions">
                <button data-permission="any">
                    sou usuário de cão guia e quero me cadastrar para obter a
                    carteina nacional de usuário de cão guia
                </button>
            </div>
        </div>

        <div class="menu-item clickable" data-open-section="acesso" data-permission="any user admin">
            <div>
                Acesso
            </div>
            <span class="icon material-symbols-outlined">assignment_ind</span>
            <div class="actions">
                <button data-permission="any only-unlogged">
                    acesse o sistema para as demais funcionalidades!
                </button>
                <button data-permission="user admin">
                    sair ou acessar com outro perfil.
                </button>
            </div>
        </div>

    </div>
</section>