<link rel='stylesheet' type='text/css' href='../../assets/buttons.scss'>
<link rel='stylesheet' type='text/css' href='../../assets/forms.scss'>
<link rel='stylesheet' type='text/css' href='./documentacao.component.scss'>

<main>
    <section class="user-form">
        <h1>Documentação</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis enim temporibus porro tempore eaque
            voluptate, debitis esse laudantium ad sapiente doloribus maiores, laborum eos quia, nam impedit consectetur
            reprehenderit corporis.
        </p>

        <h2>
            <span class="icon material-symbols-outlined">warning</span>
            Documentos Pendentes
        </h2>
        <table class="warning">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th></th>
                    <th></th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CPF - Cadastro Nacional de Pessoa Física</td>
                    <td>visualizar</td>
                    <td>
                        enviar/reenviar
                    </td>
                    <td>
                        <span class="icon material-symbols-outlined">warning</span>
                        não entregue
                    </td>
                </tr>
                <tr>
                    <td>RG - Registro Geral</td>
                    <td>visualizar</td>
                    <td>
                        enviar/reenviar
                    </td>
                    <td>
                        <span class="icon material-symbols-outlined">warning</span>
                        não revisado
                    </td>
                </tr>
                <tr>
                    <td>Comprovante de Residência</td>
                    <td>visualizar</td>
                    <td>
                        enviar/reenviar
                    </td>
                    <td>
                        <span class="icon material-symbols-outlined">close</span>
                        indeferido
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>
            <span class="icon material-symbols-outlined">description</span>
            Documentos Entregues
        </h2>
        <table>
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>asas</td>
                    <td>asas</td>
                </tr>
                <tr>
                    <td>asas</td>
                    <td>asas</td>
                </tr>
                <tr>
                    <td>asas</td>
                    <td>asas</td>
                </tr>
                <tr>
                    <td>asas</td>
                    <td>asas</td>
                </tr>
                <tr>
                    <td>asas</td>
                    <td>asas</td>
                </tr>
                <tr>
                    <td>asas</td>
                    <td>asas</td>
                </tr>
                <tr>
                    <td>asas</td>
                    <td>asas</td>
                </tr>
                <tr>
                    <td>asas</td>
                    <td>asas</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>